@page "/bill"
@using Admin.Model
@using Syncfusion.Blazor.BarcodeGenerator

<h3>Danh Sách Hóa Đơn</h3>
<p> <a href="CreateBill">Thêm Hóa Đơn</a></p>
<div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading"><h2>Thông tin hóa đơn</h2></div>

    <!-- Table -->
    <table class="table">
        <thead>
            <tr>
                <th>Ngày Tạo</th>
                <th>Người Dùng</th>
                <th>Tên Sản Phẩm</th>
                <th>Giá Sản Phẩm</th>
                <th>Thành Tiền</th>
                <th>QR Code</th>
                <th>Trạng Thái</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bills in bill)
            {
                @foreach (var item in bills.BillDetail)
                {
                    <tr>
                        <td>@bills.Date.ToShortDateString()</td>
                        <td>@bills.User.Name</td>
                        <td>@item.sizeProduct.Product.Name</td>
                        <td>@item.sizeProduct.Price</td>
                        <td>@item.Subtotal</td>
                        <td>
                            <SfQRCodeGenerator Width="100px" Height="100px" Value="@GetQRCodeValue(bills.BillId, item.sizeProduct.Price, item.sizeProduct.Product.Name)"></SfQRCodeGenerator>
                        </td>
                        <td>@bills.Status.Name</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@code {
    string urlBill = "http://localhost:20714/api/Bills";

    public IEnumerable<Admin.Model.Bill> bill { get; set; } = Enumerable.Empty<Admin.Model.Bill>();

    protected async override Task OnInitializedAsync()
    {
        await CallAPI();
    }

    async Task CallAPI()
    {
        using (var httpClient = new HttpClient())
        {
            using (var response = await httpClient.GetAsync(urlBill))
            {
                string apiResponse = await response.Content.ReadAsStringAsync();
                bill = JsonConvert.DeserializeObject<List<Admin.Model.Bill>>(apiResponse);
            }
        }
    }

    // Hàm tạo chuỗi giá trị cho mã QR
    private string GetQRCodeValue(int billId, decimal price, string proName)
    {
        return $"Mã Hóa Đơn: {billId}, Sản Phẩm: {proName}, Thành Tiền: {price}";
    }
}


<style>
    .table th, .table td {
        text-align: center;
    }

    .table td {
        vertical-align: middle;
    }
</style>