@page "/createbilldetails"
@using System.Text
<h3>Thêm Hóa Đơn Chi Tiết</h3>

<EditForm Model="proData" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit" FormName="CreateBillDetails">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label>Mã Hóa Đơn</label>
        <InputSelect class="form-control" @bind-Value="proData.BillID">
            @foreach (Bill item in bills)
            {
                <option value="@item.BillId">@item.BillId</option>
            }
        </InputSelect>
        <div class="text-danger ps-3">
            <ValidationMessage For="()=>proData.BillID"></ValidationMessage>
        </div>
    </div>
  @*   <div class="form-group">
        <label>Sản Phẩm</label>
        <InputSelect class="form-control" @bind-Value="proData.SizeProductID">
            @foreach (Size_Product item in size_Products)
            {
                <option value="@item.SizeProductID">@item.SizeProductID</option>
            }
        </InputSelect>
        <div class="text-danger ps-3">
            <ValidationMessage For="()=>proData.SizeProductID"></ValidationMessage>
        </div>
    </div> *@
    <div class="form-group">
        <label>Số Lượng</label>
        <InputNumber class="form-control" @bind-Value="proData.Quality" />
        <div class="text-danger ps-3">
            <ValidationMessage For="()=>proData.Quality"></ValidationMessage>
        </div>
    </div>
    <div class="form-group">
        <label>Tổng Tiền</label>
        <InputNumber class="form-control" @bind-Value="proData.Subtotal" />
        <div class="text-danger ps-3">
            <ValidationMessage For="()=>proData.Subtotal"></ValidationMessage>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Thêm Hóa Đơn Chi Tiết</button>
    </div>
</EditForm>
<p class="text-success p-2 ms-auto">@FormSubmitMessage</p>

@code {
    string urlBillDetails = "http://localhost:20714/api/BillDetails";
    string urlBill = "http://localhost:20714/api/Bills";

    public Admin.Model.BillDetail proData = new Admin.Model.BillDetail();
    Admin.Model.BillDetail ReceivedPro;
    public List<Bill> bills { get; set; } = new List<Bill>();
    public string FormSubmitMessage { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await Load();
    }

    private async Task Load()
    {
        using (var httpClient = new HttpClient())
        {
            using (var response = await httpClient.GetAsync(urlBill))
            {
                string apiResponse = await response.Content.ReadAsStringAsync();
                bills = JsonConvert.DeserializeObject<List<Bill>>(apiResponse);
            }
        }
          }

    public async Task HandleValidSubmit()
    {
        ReceivedPro = new Admin.Model.BillDetail();
        using (var httpClient = new HttpClient())
        {
            StringContent content = new StringContent(JsonConvert.SerializeObject(proData), Encoding.UTF8, "application/json");

            using (var response = await httpClient.PostAsync(urlBillDetails, content))
            {
                string apiResponse = await response.Content.ReadAsStringAsync();
                if (response.IsSuccessStatusCode)
                {
                    ReceivedPro = JsonConvert.DeserializeObject<Admin.Model.BillDetail>(apiResponse);
                    FormSubmitMessage = "Thêm thành công!";
                }
                else
                {
                    FormSubmitMessage = "Thêm thất bại: " + apiResponse;
                }
            }
        }
               using (var httpClient = new HttpClient())
        {
            using (var response = await httpClient.GetAsync(urlBill))
            {
                string apiResponse = await response.Content.ReadAsStringAsync();
                bills = JsonConvert.DeserializeObject<List<Bill>>(apiResponse);
            }
        }
    }

    public void HandleInvalidSubmit() => FormSubmitMessage = "Dữ liệu không hợp lệ, vui lòng kiểm tra lại.";

}